<h1 class="mt-4">Serviços</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
                {{mensagemSucesso}}
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
                {{mensagemErro}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="novoCadastro()">
                <i class="fa fa-plus"></i>Novo
            </button>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condesed table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Valor hora - (R$)</th>
                        <th>Data cadastro</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let servico of servicos">
                        <td>{{ servico.id }}</td>
                        <td>{{ servico.nome }}</td>
                        <td>{{ servico.valorHora }}</td>
                        <td>{{ servico.dataCadastro }}</td>
                        <td>
                            <button class="btn btn-primary" routerLink="/servicos-form/{{servico.id}}">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button class="btn btn-danger" (click)="preparaDelecao(servico)"
                                data-toggle="modal" data-target="#modalDelecao">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Confirmação
                </div>
                <div class="modal-body" *ngIf="servicoSelecionado">
                    Confirma a deleção do serviço : {{servicoSelecionado.nome}} ?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarServico()" data-dismiss="modal">Confirma</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancela</button>
                </div>
            </div>
        </div>
    </div>
</div>