<h1 class="mt-4">Serviços</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">{{servico.id ? 'Edição' : 'Cadastro'}}</li>
</ol>
<div class="container">
     <form #servicoForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success">
                    Serviço salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of erros">
                    {{erro}}
                </div>
            </div>
        </div>
        <div class="row" *ngIf="servico.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" name="id" 
                       [ngModel]="servico.id" disabled="true"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Cadastro:</label>
                    <input type="text" class="form-control" name="dataCadastro"
                     [ngModel] ="servico.dataCadastro"  disabled = "true"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome*:</label>
                    <input type="text" class="form-control" [(ngModel)]="servico.nome" name="nome" 
                    style="text-transform: uppercase;"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Valor Hora - (R$)*: </label>
                    <input type="number" class="form-control" [(ngModel)]="servico.valorHora" name="valorHora"/>
                </div>
            </div>
        </div>
        <div class="row">
           <div class="col-md-3">
              <button type="submit" class="btn btn-success" *ngIf="!servico.id">
                  <i class="fa fa-save"></i>Salvar
              </button>
              <button type="submit" class="btn btn-primary" *ngIf="servico.id">
                <i class="fa fa-sync-alt"></i>Atualizar
            </button>

              <button type="button" class="btn btn-danger ml-1" (click)="voltarPraListagem()">
                <i class="fa fa-arrow-alt-circle-left"></i>Voltar
            </button>
           </div>
        </div>
    </form>
</div>
